*.pyc
*.pyo
*.mo
*.db
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__
dist
docs
env
logs
pg_local.py
Dockerfile
server.py
*.ipynb
.ipynb_checkpoints
/stanza
.coverage
/htmlcov
/staticfiles
.venv/
env.secret
.vscode/
.ruff_cache/
.secret