acdh-django-charts==0.4.1
backcall==0.1.0
bleach==2.1.4
certifi==2018.8.24
chardet==3.0.4
click==6.7
click-plugins==1.0.3
cligj==0.4.0
colorama==0.3.9
coreapi==2.3.3
coreschema==0.0.4
cycler==0.10.0
decorator==4.3.0
descartes==1.1.0
Django==2.1
django-autocomplete-light==3.3.0
django-crispy-forms==1.7.2
django-extensions==2.1.2
django-filter==2.0.0
django-leaflet==0.24.0
django-rest-framework==0.1.0
django-reversion==3.0.0
django-tables2==1.21.2
djangorestframework==3.8.2
djangorestframework-gis==0.13
entrypoints==0.2.3
Fiona==1.7.13
GDAL==2.2.2
geopandas==0.4.0
html5lib==1.0.1
idna==2.7
ipykernel==4.8.2
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.0
isodate==0.6.0
itypes==1.1.0
jedi==0.12.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lxml==4.2.4
MarkupSafe==1.0
matplotlib==2.2.3
mistune==0.8.3
munch==2.3.2
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.6.0
numpy==1.13.3
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pickleshare==0.7.4
prometheus-client==0.3.1
prompt-toolkit==1.0.15
psycopg2==2.7.5
Pygments==2.2.0
pyparsing==2.2.0
pyproj==1.9.5.1
PySAL==1.14.4.post2
python-dateutil==2.7.3
pytz==2018.5
pywinpty==0.5.4
pyzmq==17.1.2
qtconsole==4.4.1
rdflib==4.2.2
requests==2.19.1
Rtree==0.8.3
scipy==0.19.1
Send2Trash==1.5.0
Shapely==1.6.4.post1
simplegeneric==0.8.1
six==1.11.0
SPARQLWrapper==1.8.2
SQLAlchemy==1.2.11
terminado==0.8.1
testpath==0.3.1
tornado==5.1
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.0
wincertstore==0.2
