acdh-django-charts==0.5.3
asgiref==3.2.3
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
coreapi==2.3.3
coreschema==0.0.4
Django==3.1.12
django-autocomplete-light==3.5.1
django-crispy-forms==1.8.1
django-extensions==2.2.8
django-filter==2.2.0
django-leaflet==0.26.0
django-reversion==3.0.6
django-tables2==2.2.1
djangorestframework==3.11.2
djangorestframework-gis==0.15
Fiona==1.8.13
geopandas==0.7.0
idna==2.8
isodate==0.6.0
itypes==1.1.0
Jinja2==2.11.3
lxml==4.6.3
MarkupSafe==1.1.1
munch==2.5.0
numpy==1.18.1
pandas==1.0.1
psycopg2-binary==2.8.4
pyparsing==2.4.6
pyproj==2.4.2.post1
python-dateutil==2.8.1
pytz==2019.3
rdflib==4.2.2
requests==2.22.0
Shapely==1.7.0
six==1.14.0
sqlparse==0.3.0
uritemplate==3.0.1
urllib3==1.25.8
