acdh-django-browsing>=2.0,<3
django-autocomplete-light>=3.9,<4
django-leaflet>=0.30.1,<1
django-next-prev==1.1.0
Django>=5.0.6,<6
djangorestframework-gis>=1.0,<2
geopandas>=1.0.1,<2
psycopg2-binary>=2.9.9,<3
coreapi>=2.3.3,<3
lxml>=5.2.2,<6
rdflib>=7.0.0,<8
requests>=2.32.3,<3
coverage
flake8