{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %} Sample Shape Files {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8">
      <h1 class="display-4 text-center p-4">Sample Shape Files</h1>
      <p class="text-center">Sample shape files to give examples of how the shape-files look like the HistoGIS Data
        Curators are working with.
      </p>
      <ul class="text-center list-unstyled">
        <li>
          <a href="https://shared.acdh.oeaw.ac.at/histogis/austrian_empire_adm2_crownlands_1860.zip">
            austrian_empire_adm2_crownlands_1860</a>
        </li>
        <li>
          <a href="https://shared.acdh.oeaw.ac.at/histogis/german_confederation_adm2_1834.zip">
            german_confederation_adm2_1834</a>
        </li>
        <li>
          <a href="https://shared.acdh.oeaw.ac.at/histogis/reichskreise_1512.zip">
            reichskreise_1512</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-2"></div>
  </div>

</div>
{% endblock %}