{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Team {% endblock %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">HistoGIS Team</h1>
            </div>
            <div class="card-body">
                <h2 class="card-title">Data Curators</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Antonia Dückelmann</h5>
                                <p class="card-text">Antonias is responsible for georeferencing and vectoricing (historical) maps as well as harmonizing (legacy) datasets.</p>
                                <a href="https://www.oeaw.ac.at/acdh/team/current-team/antonia-dueckelmann/" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Anna Piechl</h5>
                                <p class="card-text">Anna is responsible for georeferencing and vectoricing (historical) maps as well as harmonizing (legacy) datasets..</p>
                                <a href="https://www.oeaw.ac.at/acdh/team/current-team/anna-piechl/" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Peter Marckghott</h5>
                                <p class="card-text">Peter takes care of the historical aspects of the projects.</p>
                                <a href="https://www.oeaw.ac.at/acdh/team/current-team/peter-marckghott/" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="card-title">Developement & Project Lead</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Matthias Schlögl</h5>
                                    <p class="card-text">Matthias is responsible for the data model, application architecture, developement and implementation.</p>
                                    <a href="https://www.oeaw.ac.at/acdh/team/current-team/matthias-schloegl/" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Peter Andorfer</h5>
                                    <p class="card-text">Peter is responsible for the data model, application architecture, developement and implementation.</p>
                                    <a href="https://www.oeaw.ac.at/acdh/team/current-team/peter-andorfer" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
