{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %} Team {% endblock %}
{% block content %}
<div class="container">

    <h1 class="display-4 text-center p-4">HistoGIS Team</h1>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h2 class="p-2">Data Curators</h2>
            <p>Antonia Dückelmann is responsible for georeferencing and vectoricing (historical) maps as
                well as harmonizing (legacy) datasets.</p>
            <p>Anna Piechl is responsible for georeferencing and vectoricing (historical) maps as
                well as harmonizing (legacy) datasets..</p>
            <p>Peter Paul Marckhgott-Sanabria takes care of the historical aspects of the projects.</p>
            <hr />
            <h2 class="p-2">Developement & Project Lead</h2>
            <p><a href="https://www.oeaw.ac.at/acdh/team/current-team/matthias-schloegl">Matthias Schlögl</a> is responsible
                for
                the data model, application architecture,
                developement and implementation.</p>
            <p><a href="https://www.oeaw.ac.at/acdh/team/current-team/peter-andorfer">Peter Andorfer</a> is responsible for
                the
                data model, application architecture, developement
                and implementation.</p>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
{% endblock %}