{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% block title %}{{ object.name }}{% endblock %}
{% block scriptHeader %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}
{% block content %}
<style>
    .leaflet-container {  /* all maps */
        width:  100%;
        height: 600px;
    }
</style>
<!-- <div class="container"> -->
<div class="row">
<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                        <a href="{{ object.get_listview_url }}">all</a>
                    </li>
                    {% for x in object.fetch_parents %}
                        <li class="breadcrumb-item active">
                            <a href="{{x.get_absolute_url }}">{{ x }}</a>
                        </li>
                    {% endfor %}
                    <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
              </ol>
            </nav>
            <div class="row">
                <div class="col-md-2">
                    {% if object.get_prev %}
                        <h2>
                            <a href="{% url 'shapes:shape_detail' pk=object.get_prev %}">
                                <i class="fas fa-chevron-left" title="previous"></i>
                            </a>
                        </h2>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h2 style="text-align: center;">
                        {{ object }}
                        <small>
                            <a href="{% url 'tempspatial-detail' pk=object.id %}?format=json">
                                <i class="fas fa-download"></i>
                            </a>
                        </small>
                        {% if user.is_authenticated %}
                            |
                            <small>
                                <a href="{% url 'shapes:shape_edit' pk=object.id %}">
                                    <i class="far fa-edit" title="edit"></i>
                                </a>
                            </small>
                            |
                            <small>
                                <a href="{% url 'shapes:shape_delete' pk=object.id %}">
                                    <i class="far fa-trash-alt" title="delete"></i>
                                </a>
                            </small>
                        {% endif %}
                    </h2>
                </div>
            <div class="col-md-2">
                <h2>
                    {% if object.get_next %}
                    <a href="{% url 'shapes:shape_detail' pk=object.get_next %}" style="float:right">
                        <i class="fas fa-chevron-right" title="next"></i>
                    </a>
                </h2>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <legend>Basic Information</legend>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        {% get_verbose_name tempspatial "name" %}
                    </th>
                    <td>
                        {{ object.name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_name tempspatial "administrative_unit" %}
                    </th>
                    <td>
                        {{ object.administrative_unit }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Time Span
                    </th>
                    <td>
                        {{ object.start_date }} - {{ object.end_date }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Date Accuracy
                    </th>
                    <td>
                        {{ object.date_accuracy }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_name tempspatial "source" %}
                    </th>
                    <td>
                        <a href="{{ object.source.get_absolute_url }}">
                            {{ object.source }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>
                        Quality of this Dataset
                    </th>
                    <td>
                        {{ object.quality }}
                    </td>
                </tr>
            </table>
            {% if object.fetch_parents %}
                <legend>
                    part of
                    <span class="badge badge-secondary">
                        {{ object.fetch_parents|length  }}
                    </span>
                </legend>
                <table class="table table-bordered table-hover">
                    {% for x in object.fetch_parents %}
                        <tr>
                            <th>
                                Name
                            </th>
                            <td>
                                <a href="{{ x.get_absolute_url }}">
                                    {{ x }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            {% if object.fetch_children %}
                <legend>
                    superunit of
                    <span class="badge badge-secondary">
                        {{ object.fetch_children|length  }}
                    </span>
                </legend>
                <table class="table table-bordered table-hover">
                    {% for x in object.fetch_children %}
                        <tr>
                            <th>
                                Name
                            </th>
                            <td>
                                <a href="{{ x.get_absolute_url }}">
                                    {{ x }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
</div>
</div>
<div class="col-md-6">
    {% leaflet_map "yourmap" callback="window.map_init_basic" %}
</div>
</div>
<script type="text/javascript">

    function createTableRows(propertyObject){
        var returnTable = "<table class='table table-hover table-striped table-condensed'>";
        var linkToObject = "#";
        returnTable += "<tr><td>linkToObject</td><td><a href='"+linkToObject+"'>follow link</a></td></tr>";
        for (var [key, value] of Object.entries(propertyObject)) {
            returnTable += "<tr><td>"+key+"</td><td>"+value+"</td></tr>";
        };
        return returnTable += "</table>";
    };

    function onEachFeature(feature, layer) {
        if (feature.properties) {
            var popupContent = createTableRows(feature.properties);
            layer.bindPopup(popupContent);
        }
    };

    function map_init_basic (map, options) {
        $.ajax({
            dataType: "json",
            url: "{% url 'tempspatial-detail' pk=object.id %}?format=json",
            success: function(data) {
                var geojsonFeature = data;
                var geojsonLayer = L.geoJson(geojsonFeature, {
                    onEachFeature: onEachFeature
                }).addTo(map);
                map.fitBounds(geojsonLayer.getBounds());
            }
            }).error(function() {});
    }
</script>
{% endblock %}
