{% extends "webpage/base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% block title %}{{ object.name }}{% endblock %}
{% block scriptHeader %}
{% leaflet_js %}
{% leaflet_css %}
{% endblock %}
{% block content %}


<div class="container-fluid">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb pt-2">
            <li class="breadcrumb-item"><a href="{% url 'webpage:start' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ object.name }}</li>
        </ol>
    </nav>
    <div class="row p-4">
        <div class="col-md-2">
            {% if object.get_prev %}
            <h2 class="text-start">
                <a href="{% url 'shapes:shape_detail' pk=object.get_prev %}">
                    <i class="bi bi-chevron-left" title="previous"></i>
                </a>
            </h2>
            {% endif %}
        </div>
        <div class="col-md-8 ">
            <h1 class="display-5 text-center">
                {{ object }}
                {% if user.is_audtenticated %}
                <small>
                    <a href="{% url 'shapes:shape_edit' pk=object.id %}">
                        <i class="bi bi-pencil-square" title="Edit {{ object }}"></i>
                    </a>
                </small>
                {% endif %}
            </h1>

        </div>
        <div class="col-md-2 text-end">
            <h2>
                {% if object.get_next %}
                <a href="{% url 'shapes:shape_detail' pk=object.get_next %}" style="float:right">
                    <i class="bi bi-chevron-right" title="next"></i>
                </a>
            </h2>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <dl>
        <dt>
            {% get_verbose_name source "name" %}
        </dt>
        <dd>
            {{ object.name }}
        </dd>

        <dt>
            {% get_verbose_name source "description" %}
        </dt>
        <dd>
            {{ object.description }}
        </dd>

        <dt>
            {% get_verbose_name source "quote" %}
        </dt>
        <dd>
            {{ object.quote }}
        </dd>

        <dt>
            {% get_verbose_name source "original_url" %}
        </dt>
        <dd>
            {{ object.original_url }}
        </dd>
    </dl>
    <h2>Related Objects</h2>
    <dl>
        {% for x in object.source_of.all %}
        <dt>
            Name
        </dt>
        <dd>
            <a href="{{ x.get_absolute_url }}">
                {{ x }}
            </a>
        </dd>
        {% endfor %}
    </dl>
</div>
{% endblock %}